@font-face {
    font-family: "Comic Sans MS";
    src: url("/fonts/ComicSansMS3.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@import "tailwindcss";

@layer base {
    html {
        font-family: "Comic Sans MS", cursive, sans-serif;
    }
}

* {
    @apply text-[#3b1c12];
}
